/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}
html {
  font-size: 1rem;
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.8);
}
input,
select,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}
body {
  line-height: 1.2;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
a:hover {
  color: inherit;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
input,
textarea,
select {
  border: none;
  outline: none;
}
textarea {
  overflow: hidden;
  resize: none;
}
.btn-primary {
  background-color: #ee4d2d;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
  color: #fff;
  height: 2.5rem;
  border-radius: 2px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
}

.error-message {
  min-height: 8px;
  font-size: 0.875rem;
  color: #ef4444;
  margin-top: 10px;
}
.shopee-top {
  background: linear-gradient(-180deg, #f53d2d, #f63);
}

.slick-slider {
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: 10px !important;
}
.slick-dots li button:before {
  color: #f63 !important;
}
.slick-prev:before,
.slick-next:before {
  color: #ccc !important;
}
.cart {
  width: 430px !important;
}
.ant-tabs-nav-wrap {
  border-radius: 2px;
  background: #fff;
  padding: 0 10px;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
:where(.css-dev-only-do-not-override-xepvsj).ant-tabs .ant-tabs-tab {
  padding: 12px 30px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ee4d2d !important;
}
.ant-tabs-ink-bar {
  background: #ee4d2d !important;
}
.ant-tabs-tab:hover {
  color: #ee4d2d !important;
}
.ant-select-item-option-active {
  color: #ee4d2d !important;
}
.ant-select-item-option-selected {
  background-color: white !important;
  font-weight: 200 !important;
}
